.article-author-and-date {
    color: #3F3F3F;
}

.comment-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-card {
    background-color: #AED6CF;
    padding: 10px;
    width: 60%;
}

.comment-card-top {
    display: flex;
    justify-content: space-between;
}