body {
  margin: 0;
  padding: 0;
  background-color: #647FBC;
  box-sizing: border-box;
  font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  margin: 20px 200px;
  margin-bottom: 100px;
}

button {
  background-color: #FAFDD6;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

textarea {
  resize: none;
  width: 60%;
  height: 60px;
  padding: 10px;
}

/* https://colorhunt.co/palette/647fbc91adc8aed6cffafdd6 */